<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Login</h3>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailErrors">
        <div id="emailErrors" class="form-text">
          {{showEmailInputError()}}
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          aria-describedby="passwordErrors"
          id="exampleInputPassword1">
        <div id="passwordErrors" class="form-text">
          {{showPasswordInputError()}}
        </div>
      </div>
      <button
        [disabled]="!loginForm.valid"
        type="submit"
        class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
