<div class="backdrop">
  <div class="loading-spinner">
    <div class="loadingio-spinner-spin-mb2dxrk3qld">
      <div class="ldio-rcaj2dxhc5">
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
    <div>Loading...</div>
  </div>
</div>
